@import "variables";
@import "mixins";
@import "components";

/* =========================
   RESPONSIVE
========================= */

/* TABLET */
@include respond-to($breakpoint-tablet) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */
@include respond-to($breakpoint-desktop) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .layout {
    display: grid;
    grid-template-columns: 200px 1fr 150px;
  }
}