p { color: black; }                 /* 0,0,1 */
.text { color: blue; }             /* 0,1,0 */
.highlight { color: green; }       /* 0,1,0 */
p.text { color: purple; }          /* 0,1,1 */
#demo { color: red; }              /* 1,0,0 */
p#demo { color: orange; }          /* 1,0,1 */
.text.highlight { color: pink; }   /* 0,2,0 */
p.text.highlight { color: brown; } /* 0,2,1 */
#demo.highlight { color: cyan; }   /* 1,1,0 */
p#demo.highlight { color: navy; }  /* 1,1,1 */